.wrap {
    align-items: center;
    justify-content: center;
}
  
.row {
    margin-left: 0;
}
  
.display-3 {
    font-weight: 500;
    color: white;
}
  
.bg {
    background-image: url("../../../public/bg2.webp");
    height: auto;
    background-size: cover;
}
.l {
    font-weight: 700;
}
.welcome{
    /* background: -webkit-linear-gradient(red, rgb(7, 248, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(9, 117, 38);
    font-weight: 500;
}
.to-the{
    /* background: -webkit-linear-gradient(180deg,rgb(7, 248, 7),red );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: red;
    font-weight: 600;
}
.fire{
    color: rgb(255, 77, 0);
}
  
.li {
    width: inherit;
    height: 4px;
    background: linear-gradient(90deg, #ff0000, #00ff00);
    border-radius: 2px;
    margin-top: 8px;
}
  
.box {
    height: 250px;
    width: 400px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 15px;
    background-image: url("../../../public/bg3.webp");
    background-size: cover;
    background-color: black;
}
  
.c {
    height: 25%;
}
  
.p {
    padding-left: 40px;
}
  
.price {
    border: 1px solid rgb(82, 81, 81, 0.3);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 400px;
    /* height: 250px; */
}
  
.lii {
    width: inherit;
    height: 4px;
    background: linear-gradient(90deg, #eeff00, #2bff00);
    border-radius: 2px;
    margin-top: 8px;
}
  
.link {
    font-size: 20px;
}
.card{
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: both;
  position: relative;
}
@keyframes example {
    to {
      right: 0px;
    }
    from {
      right: 500px;
    }
}
.card1{
  animation-name: examples;
  animation-duration: 3s;
  animation-fill-mode: both;
  position: relative;
}
@keyframes examples {
    to {
      top: 0px;
    }
    from {
      top: 500px;
    }
}
.card2 {
  animation-name: exampless;
  animation-duration: 3s;
  animation-fill-mode: both;
  position: relative;
}
@keyframes exampless {
    to {
      left: 0px;
    }
    from {
      left: 500px;
    }
  }
  